/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.unittesting
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/＊
vendor/

#build
.certs/
.build/*/*.pem
.build/hero/haproxy.env
.build/hero/*.crt
.build/hero/*.key
.build/hero/know_hosts
config/*
.vscode/
